body {
  background-color: rgb(203, 197, 197);
}

p.round3 {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 12px;
  padding: 5px;
}

img {
  border-radius: 8px;
}

h3 { color: rgb(0, 0, 0);
}

p {
  color: black;
}

h4 {
    color: black;
  }